.skin #skin_bg {
    display: block;
}
#skin_bg, #skin_bg img {
    height: 100%;
    width: 100%;
}
#skin_bg {
    background-color: #888;
    background-repeat: repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    /*display: none;*/
    left: 0;
    position: fixed;
    _position: absolute;
    top: 0;
    z-index: -10;
}

/*添加壁纸后的样式*/
.nav_header,.footer{
    border: none !important;
    background-color: rgba(255,255,255,0.80);
}
.headers{
    background-image: url(../Img/logo5.png);
    background-position: center center;
}
.logo{
    display: none !important;
}
.main{
    background-color: rgba(255,255,255,0.00) !important;
}
.tuijian_url ul li,.content li,.content-h li,.subMenu{
    background-color: rgba(255,255,255,0.90) !important;
}
.content-h{
    border:none;
    padding: 1px 0;
}
.right_fenlei{
    background-color: rgba(255,255,255,0.90) !important;
}

/*返回顶部*/


/*行业导航的头部*/
/*.hyheader {
    border: none !important;
    background-color: rgba(255,255,255,0.90);
}*/
.hyheader .f-r{
    display: none
}
.nav-wrap {
    background-color: rgba(255,255,255,0.90) !important;

}
.nav-wrap .nav li a{ color: #000}
.hymain{background: none;}
.hymain .middle{border:none}
.website_t {}
.website_t.f-r{width: 850px;}
.website_head{background-color: rgba(255,255,255,0.95);border:none}
.website_body{ border: none;border-top: 1px solid #d9d9d9;padding: 0 20px;}

.help .title,.help .context{border:none}