/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2016-3-11, 11:13:20
    Author     : zhangxu
*/
body{
    min-width:1150px;
}
.middle{
    width:1030px;
    margin:0px auto;
    min-width:1030px;
}
.nav_head {
    font-size:12px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #f6f6f6;
}
.nav_ul li{
    float: left;
    margin-right: 10px;
}
.headers{
    /*    padding-top:5px;*/
}
.redfont{
    color:red !important;
}
.left{
    float:left;
    display:inline-block;
}
.right{
    float:right;
    display:inline-block;
}
.clear{
    clear:both;
}
.hidden{
    display: none;
}
.hide-im{
    display: none !important;
}

.label {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #999;
    overflow: hidden;
}
.label-warning {
    background-color: #f37b1d;
}
.label-default {
    background-color: #d9d9d9;
}
.label.radius {
    border-radius: 3px;
}
/*便利贴*/
.bianlitie ul li{
    float: left;
    width: 158px;
    height: 65px;
    background-repeat:  no-repeat;
    margin: 11px 20px 11px 0;
    border: #d9d9d9 solid 0px;
    border-radius: 5px;
    /*    box-shadow: -2px 2px 3px #d9d9d9;*/
}
.bianlitie ul li:last-child{margin-right: 0}
.bianlitie ul li .title{
    width: 13px;
    height: 45px;
    background: #f6f6f6;
    padding: 10px 8px;
    border-radius: 5px 0 0 5px;
    border-right: 1px #d9d9d9 solid
}
.boderheight{height: 71px}
.bianlitie ul li .con{
    width: 235px;
    border-radius: 0 5px 5px 0;
}
.bianlitie ul li input{
    color:#666;
    border:none;
    background-color: #fff;
    padding: 6px 5px;
    height: 20px;
    width:110px;
}
.bianlitie ul li .bb-1{
    border-bottom: #d9d9d9 solid 1px;
}
.bianlitie ul li .brt-5{
    border-top-right-radius:5px;
}
.bianlitie ul li .brb-5{
    border-bottom-right-radius:5px;
}
.bianlitie ul li .blt_time{
    font-size:12px;
    color:#8b8b8b;
    margin-left: 35px;
    margin-top:11px;
    height:16px;
}
.search {
    width: 640px;
    height: 44px;
    background: #fff;
    border: 1px solid #ddd;
    margin:14px 0px;
}
.ipt {
    width: 595px;
    float: left;
}
.search_engine {
    width: 50px;
    height: 44px;
    padding: 8px 0 0 6px;
    cursor: pointer;
    overflow: visible;
    float: left;
    position: relative;
}
.search_engine a.baidu {
    background: url(../Img/baidu.jpg) no-repeat;
    background-size:30px 30px;
}
.search_menu a.haosou {
    background: url(../Img/so.png) no-repeat;
    background-size:30px 30px;
}
.search_engine a.haosou {
    background: url(../Img/so.png) no-repeat;
    background-size:30px 30px;
}
.search_engine a {
    width: 30px;
    height: 30px;
    background: url(../Img/icon.png) no-repeat;
    float: left;
}
.search_arr {
    height: 5px;
    margin: 14px 0 0 10px;
    float: left;
    overflow: hidden;
}
.search_arr span {
    width: 7px;
    height: 7px;
    background: url(../Img/icon.png) -50px -575px no-repeat;
    float: left;
}
.search_menu {
    background: #fff;
    position: absolute;
    left: 0;
    top: 44px;
    display: none;
    z-index: 99;
    border:1px solid #ddd;
}
.search_menu li {
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px 5px 2px;
    cursor: pointer;
    overflow: hidden;
}
.search_text {
    font-size: 16px;
    outline: none;
    padding-left:10px;
    border: 0;
    height: 44px;
    line-height: 44px;
    width: 525px;
}
.search_btn {
    width: 44px;
    height: 44px;
    background: url(../Img/search.png) no-repeat;
    background-size:44px 44px;
    border: none;
    cursor: pointer;
}

/*主体部分分块*/
.content li {
    width: 169px;
    height: 422px;
    border-left: 1px #d9d9d9 dashed;
    float: left;
    background-color:#fff;
    position: relative;
    margin-bottom:5px;
}
.content li:nth-child(6n+1) {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-left: 1px solid transparent;
}
.content li:nth-child(6n),.content li:last-child {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.add_page {
    width: 34px;
    height: 34px;
    background: url(../Img/icon.png) 0 -1120px no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 99;
    display: none;
}
.content-h .add_page{
    background: url(../Img/icon.png) -27px -1052px no-repeat;
    top:10px;
    right: 20px;
}
.content li:nth-child(6n) .add_page,.content li:last-child .add_page{
    border-top-right-radius:5px;
}

.con_category:hover .add_page{display:inline-block}
.content li h1{padding:5px 10px; margin-top:5px;border-bottom:1px dashed #d9d9d9;line-height: 30px;}
.content li h1,.content-h li h1{ position:relative;}
.content.userlist li h1,.content-h.userlist li h1 {cursor: move}
.content li h1 b{ font-weight:normal;}
.content li h1 span,.content-h li h1 span{display: none}
.content li h1:hover span,.content-h li h1:hover span{display: inline-block}
.content-h{
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.content-h li {
    background-color:#fcfcfc;
    padding: 0 20px;
    position: relative;
    clear: both;
}
.content-h li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.content-h li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content-h li h1{padding:5px 10px 4px 0;border-bottom:1px dashed #d9d9d9;line-height: 30px;}
.content-h li h1 b{border-bottom: 2px solid #d9d9d9;padding:0 10px 9px 10px;font-weight:normal;}
.content-h li:nth-child(3n+4) {padding-top: 7px;}
h1 .my_edit {
    height: 25px;
    background-position: 0 -935px;
    margin-left: 5px;
    float: none;
}
h1 .my_del {
    height: 25px;
    background-position: -25px -738px;
    float: none;
}
.my_drag {
    width: 16px;
    height: 14px;
    background: url(../Img/icon.png) -58px -967px no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.content .pbox {
    width: 169px;
    height: 370px;
    float: left;
}

.content .url_list {
    height: 19px;
    /*    border-bottom: 1px dotted #ccc;*/
    padding: 9px 0;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
}
.content-h .pbox {
    width: 810px;
    min-height: 50px;
}
.content-h .url_list,.content-h .blank_ws {
    height: 16px;
    width:150px;
    margin:6px 12px 10px 0;
    float: left;
    padding: 9px 0;
    position: relative;
    overflow: hidden;
}
.content-h .blank_ws {opacity: 0;}
.content-h .blank_ws:hover {opacity: 1;}
.content-h .blank_ws em{
    float: left;
}
.userlist .url_list{
    cursor: move;
}
.url_list span{
    display: none;
}
.url_list:hover span{
    display: inline-block;
}
.sortable-ghost {
    opacity: .7;
}
.url_list.sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}

.urllist .sortable-drag {
    background-color: rgba(255,255,255,0.90);
}
.url_list img {
    margin: 0px 10px 15px 5px;
}
.url_list a {
    width: 85px;
    height: 16px;
    line-height: 16px;
    color: #333;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    /*    letter-spacing:1px;*/
}
.content .urllist{
    min-height: 35px
}
.content-h .urllist:empty{width:20px; height: 50px;float: left;}
.my_edit, .my_del {
    width: 12px;
    height: 17px;
    background: url(../Img/icon.png) no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.my_edit{ background-position:0 -937px;}
.my_del{ background-position:-25px -740px;}
.edit_box, .plus_box {
    width: 138px;
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 5px;
    z-index: 10;
    margin: 0 auto;
}
.content-h .edit_box,.content-h .plus_box {margin:0px 12px 0 0;float: left;padding:0px 5px;line-height: 16px;}
.psm_txt, .purl_txt {
    color: #000;
}
.sm_txt, .url_txt, .psm_txt, .purl_txt {
    width: 80px;
    height: 18px;
    font: normal 12px/18px Arial;
    color: #333;
    border: 1px solid #efefef;
    padding: 2px;
}
.purl_txt{
    width: 130px;
}
.edit_notok, .edit_ok, .edit_del {
    width: 18px;
    height: 18px;
    background: url(../Img/icon.png) no-repeat;
    margin-left: 5px;
    vertical-align: text-bottom;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.edit_ok {
    background-position: 4px -764px;
}
.edit_del {
    background-position: 4px -912px;
}

/*排序*/
#orderlist {
    min-width: 300px;
    background: #fff;
    position: fixed;
    display: none;
    z-index: 2000;
    text-align: center;
    padding-bottom: 15px;
    top:100px !important;
}

#url_orderlist {
    background: #fff;
    position: fixed;
    display: none;
    z-index: 2000;
    text-align: center;
    padding-bottom: 15px;
    top: 70px !important;
}

.title-bar {
    background-color: #FCFCFC;
    border-bottom: 1px solid #f6f6f6;
    height: 25px;
    padding: 5px;
    position: relative;
}
#orderlist h2,#url_orderlist h2 {
    text-align: left;
}
.title-bar h2 {
    font: bold 14px/25px Arial;
    color: #333;
    margin: 0;
    padding: 0;
}
.title-bar .close {
    width: 14px;
    height: 20px;
    background: url(../Img/close_pop.png) 0 6px no-repeat;
    position: absolute;
    top: 5px;
    right: 6px;
    display: inline-block;
}
#list1{
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px 15px 48px;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    width:500px;
}
#list1 li{
    float: left;
    padding: 2px;
}
#list1 div{
    width:70px;
    font-size: 14px;
    color: #000;
    background-color: #E0E0E0;
    text-align: center;
    padding: 8px;
}

#list231{
    list-style-type: none;
    margin: 0px;
    padding: 10px 60px;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}
#list231 li {
    padding: 2px;
}
#list231  div{
    width:100px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    background-color: #E0E0E0;
    text-align: center;
    padding: 5px;
}


#orderlistbg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background: #000;
    opacity: 0.3;
    width: 100%;
    display: none;
}

.h1_txt{
    width: 60px;
    height: 22px;
    font: normal 14px/20px Arial;
    border: none;
    color: #333;

    padding: 2px;
}
.h1_txt.tog{
    position: absolute;
    border: 1px solid #d9d9d9;
    top: 12px;
    left: 10px;
    z-index: 2;
}

.content-h .h1_txt.tog{
    position: absolute;
    top: 7px;
    left: 20px;
    z-index: 2;
}

/*添加网址*/
.content .blank_ws {
    height: 17px;
    border-top: 1px dotted #ccc;
    padding: 9px 0;
    margin: 0 5px;
    opacity: 0;
}
.con_category .blank_ws:hover {
    opacity: 1;
}
.blank_ws em {
    width: 17px;
    height: 17px;
    background: url(../Img/icon.png) -27px -1052px no-repeat;
    float: right;
    cursor: pointer;
}

/*----------底部-----------*/
.footer{
    font-size:12px;

    background-color: #fff;
    /*text-align: center;*/
    padding-bottom: 20px;
}
.tongji{width: 1150px;margin: 0 auto;border-bottom: 1px #ddd solid;padding:10px 0;}
.tongji ul{overflow: hidden}
.tongji ul li{text-align: center;float: left;width: 277.5px;}
.tongji ul li b{font-size: 16px;}
.foot_Mid {
    padding: 8px 0px;
    text-align: center;
    min-width: 1000px;
}
.foot_Mid {
    text-align: center;
}
.foot_Mid .foot_MC .first {
    border: 0px none;
}
.foot_Mid .foot_MC li {
    padding: 0px 12px;
    display: inline-block;
    border-left: 1px solid #919191;
    line-height: 14px;
}
.foot_Mid .foot_MC li a{
    color:#666;
}
.first {
    margin-left: 0px !important;
}

.copy{
    text-align: center;
    margin-top: 10px;
    color:#666;
}
.copy a{
    color:#666;
}

/*弹出框意见*/
.wx_tips{ background:url(../Img/icon_pop.png) left no-repeat; font:normal 14px/25px Arial; padding-left:50px; margin:20px 50px;min-height: 40px;
}

/*弹出*/
.boxy-wrapper{position:absolute;}
.boxy-wrapper.fixed{position:fixed; border:1px solid #ddd;}
/* Modal */
.boxy-modal-blackout{position:absolute; background-color:black; left:0; top:0;}
.boxy-inner {
    background-color: white;
    padding: 0;
}

.boxy-inner .btn:hover {
    background: #0099ee;
    text-decoration: none;
}
.boxy-inner .btn {
    width: 36px;
    font: normal 18px/20px 'Microsoft YaHei';
    background: #0099ee;
    color: #fff;
    padding: 3px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    vertical-align: middle;
    text-decoration: none;
}

.t_guide{
    padding: 20px 0 20px 190px;
}
.t_guide h1{
    font-size: 18px;
}
.t_guide h1 span{
    margin-left: 20px;
    font-size: 14px;
    color: red;
}
.t_guide form{
    margin-top: 30px;
}

.t_guide .g_text {
    width: 300px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    padding: 0 5px;
    margin-right: 20px;
}
.t_guide textarea {
    width: 300px;
    height: 61px;
    border: 1px solid #ddd;
    padding: 0 5px;
    margin-right: 20px;
    resize: none;
}
/*注册*/
.c_guide {
    width: 780px;
    min-height: 410px;
    padding: 35px 50px;
    margin:0px auto;

}
.g_left {
    width: 389px;
    min-height: 410px;
    border-right: 1px solid #ddd;
    float: left;
}
.c_guide h2, .c_fans h2 {
    font: normal 30px/30px '宋体';
    color: #333;
}
.log_inner td {
    padding: 12px 0;
}
.inner td {
    font-size: 14px;
    color: #333;
    padding: 5px 0;
    vertical-align: text-top;
}
.inner td input {
    vertical-align: middle;
}
.g_text {
    width: 330px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    padding: 0 5px;
    border-radius: 3px;
}
.inner td em {
    font-size: 12px;
    font-style: normal;
    color: #999;
    padding-top: 3px;
    display: block;
}
.inner td span {
    font-size: 12px;
    color: #999;
    vertical-align: middle;
    padding: 0 5px;
}
.btn:hover {
    text-decoration: none;
}
.inner td input {
    vertical-align: middle;
}
.btn {
    font: normal 20px/30px 'Microsoft YaHei';
    background: #0099ee;
    border: none;
    color:#fff;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px 0;
    vertical-align: middle;
    cursor: pointer
}
.btn.disabled {
    background:#d9d9d9;
}
.btn-sm {
    font:normal 12px/12px 'Microsoft YaHei';
    padding: 3px 5px;
    margin: 0;
}
.inner td span a {
    color: #999;
    margin: 0 5px;
}

.correct, .wrong {
    width: 20px;
    height: 15px;
    background: url(../Img/icon.png) no-repeat;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}
.wrong {
    background-position: 0 -420px;
}
.correct {
    background-position: 0 -390px;
}
.g_right {
    width: 289px;
    height: 310px;
    padding: 50px;
    float: left;
}
.g_right p {
    line-height: 28px;
    color: #656565;
}s

/*弹出*/
.boxy-wrapper{position:absolute;}
.boxy-wrapper.fixed{position:fixed; border:1px solid #ddd;width:600px;margin:0px auto;}
/* Modal */
.boxy-modal-blackout{position:absolute; background-color:black; left:0; top:0;}
/* Border */

/* Title bar */
.title-bar{background-color:#FCFCFC; border-bottom:1px solid #f6f6f6; height:25px; padding:5px; position:relative;}
.title-bar.dragging{cursor:move;}
.title-bar h2{ font:bold 14px/25px Arial; color:#333; margin:0; padding:0;}
/* Content Region */
.boxy-inner{background-color:white; padding:0}

/*头部欢迎*/
.nav_header{
    background: #f6f6f6;
    font-size: 14px;
    line-height: 30px;
}
.nav_header a{
    color:#333 !important;
    text-decoration: none !important;
}

/*头部推荐*/
.header{
    height:90px;
}
.header .logo{
    height:70px;
    width: 210px;
    height: 70px;
}
.header .logo_a{
    padding: 8px 0px;
    width: 210px;
    height: 70px;
}
.header .set_index{
    margin:5px 0px;
    height:20px;
    line-height: 20px;
    text-decoration: none;
}
.header .tianqi{
    padding-top:10px;
    margin-left:40px;
}
.header .personal-center{
    height:70px;
    font-size: 16px;
}
.header .personal-center a{
    transition: all 0.3s ease 0s;
    line-height: 70px;
    color:#232323;
    text-decoration: none;
    margin-left: 20px;
}
.header .personal-center a:hover{
    color:#d9d9d9;;

}

/*下拉框的样式*/
.header .personal-center .cd-signup{
    transition: all 0.3s ease 0s;
    line-height:35px;
    border:0px;
    color:#232323;
    text-decoration: none;
    padding:0px 15px;
    font-size:14px;
    margin-left: 0px;
}
.header .personal-center .cd-signup:hover{
    border:0px;
}

/*回收站*/
.bin_tit{ width:1100px; border-bottom:1px solid #ddd; vertical-align:middle; padding:10px; margin:20px 0 0 0;}
.bin_tit span{ background:url(../Img/icon.png) 0 -1028px no-repeat; background-position:0 -1028px; padding-left:15px; float:right;}
.bin_tit span a,.bin_tit span a:hover{ color:#DB2723; text-decoration:none;}
.bin_tit input{ vertical-align:middle;}
.bin{ width:1100px; padding-bottom:81px;}
.bin li{ width:143px; height:16px; border-bottom:1px dotted #ccc; color:#333; padding:10px; margin-right:20px; float:left; position:relative;overflow: hidden}
.bin input{ vertical-align:middle;}
.bin_tips{ height:20px; line-height:20px; color:#999; background:url(../Img/icon.png) -53px -823px no-repeat; padding-left:22px; margin-top:30px;}
.bin li em,.allurl{ width:16px; height:16px; background:url(../Img/icon.png) 5px -824px no-repeat; display:inline-block; float:right; cursor:pointer;}
.recover{ width:153px; height:53px; background:#fff; border:1px solid #d9d9d9; padding:10px; position:absolute; top:36px; left:0; z-index:10;}
.recover select{ width:153px;}

a.add_ok, a.add_cancel, .website ul li a.add_ok {
    width: 45px;
    height: 22px;
    font: normal 12px/22px Arial;
    background: #d9d9d9;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px 0 0;
    display: inline-block;
}

.url_list em {
    width: 16px;
    height: 16px;
    background: url(../Img/icon.png) no-repeat;
    display: inline-block;
    float: right;
    cursor: pointer;
    display: none;
}
.url_list em {
    background-position: 2px -1083px;
}

/*搜索框*/

.searchbox{
    width:850px;
    height:70px;
    padding: 15px 0px;
    margin:0px auto;
    margin-bottom: 20px;
}
.searchbox .search_logo{
    margin-top: 40px;
}
.searchmain{
    width:720px;
    margin-left:25px;
    height:100%;
}

.searchbox .tab{
    margin-bottom: 8px;
}
.searchbox .tab ul li{
    float:left;
    padding:2px 5px;
    margin-right: 4px;
    font-size: 16px;
    border-radius: 5px;
}
.searchbox .tab ul li a{
    color:#333;
    padding:5px 20px;

    text-decoration: none;
}
.searchbox .tab ul li:hover{
    background-color: #fff;
}
.active{
    background-color: #fff;
}
.active a{
    font-weight: 600;
    color:#333  !important;
}
.serinput input{
    width:620px;
    height:40px;
    padding:5px 10px;
    border:none;
}
.serinput input.search_kw{
    border-radius: 5px 0 0 5px;
}
.serinput input.search_submit{
    border-radius:0 5px 5px 0;
    height:50px;width:80px;
    background-color:#0099ee;
    color:#fff;
    font-size: 18px;
    cursor: pointer;
}

/*推荐地址*/
.tuijian_url{

}
.tuijian_title{
    background-color: #d9d9d9;;
    color: #fff;
    height:100%;
    padding: 0px 26px;
    line-height: 36px;
}
.tuijian_url ul{
    height:100%;
}
.tuijian_url ul li{
    margin-right:10px;
    margin-bottom: 10px;
    width:102px;
    height:46px;
    border-radius: 5px;
    background-color: #fcfcfc;
    float:left;
}
.tuijian_url ul li:nth-child(10n){
    margin-right: 0px;
}
.tuijian_url ul li:hover{
    background-color:#F9F9F9;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    transform: translate3d(0px, -2px, 0px);
}
.tuijian_url ul li a img{
    border-radius:5px;
    width:102px;
    height:46px;
}
.mt-20{
    margin-top: 20px
}
.mt-10{
    margin-top: 10px
}
.mb-20{
    margin-bottom: 20px
}

/*下拉菜单*/
.dropDown{display:inline-block}.dropDown_A{display:inline-block}
.dropDown-menu{ display:none;transition: all 0.3s ease 0s}
.dropDown:focus,.dropDown-menu:focus {outline:0}
.dropDown-menu li.arrow{ position:absolute;display:block; width:12px; height:8px; margin-top:-13px; margin-left:20%; line-height:0;background:url(../images/icon-jt.png) no-repeat 0 0}

/*鼠标经过	*/
.dropDown.hover.dropDown_A,.dropDown.open.dropDown_A{text-decoration:none;background-color:rgba(255,255,255,0.2)}
.dropDown.open.dropDown_A.menu_dropdown-arrow{transition-duration:0.3s ;transition-property:all;_background-position:0 0}
.dropDown.open.dropDown_A.menu_dropdown-arrow{transform: rotate(180deg);}
.menu{background-color:#fff;border:solid 1px #f6f6f6; display: inline-block;}
.menu.radius{border-top-left-radius:0;border-top-right-radius:0}
.menu.box-shadow{border-top:none;}
.menu > li{ position: relative; float: none;display:block;}
.menu > li > a{ display: block;float: left;border-bottom:solid 1px #f6f6f6;padding:6px 14px;text-align:left;line-height:1.5;font-weight: normal;white-space:nowrap;width:85px;}
.menu > li > a i{float: left}
.menu > li > a em{
    display: block;
    width: 66px;
    float: left;
    text-align:justify;
    text-justify:distribute-all-lines;/*ie6-8*/
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
}
.menu > li:last-child > a{ border-bottom:none}
.menu > li > a:hover,.menu > li > a:focus,.menu > li.open > a{ text-decoration:none;background-color:#fafafa}
.menu > li > a.arrow{ position:absolute; top:50%; margin-top:-10px; right:5px;line-height: 20px; height: 20px; color: #999}
.menu > li >.menu{ display: none}
.menu > li.open >.menu{ display: inline-block;position: absolute; left:100%;top:-1px;min-width:100%;}
/*禁用菜单*/
.menu > li.disabled > a{color:#999;text-decoration:none; cursor:no-drop; background-color:transparent}
/*线条*/
.menu > li.divider{ display:block;height:0px; line-height:0px;margin:9px 0;overflow:hidden; border-top:solid 1px #eee}
/*打开菜单*/
.dropDown >.dropDown-menu{ display: none}
.dropDown.open{position:relative;z-index:990}
/*默认左对齐*/
.dropDown.open >.dropDown-menu{position:absolute;z-index:1000;display:inline-block;top:30px;left:-17px;min-width:100%;background-color:#fff;border:solid 1px #f6f6f6}
/*右对齐*/
.dropDown.open.right >.dropDown-menu{right:-1px!important;left:auto!important}



/*左边栏样式开始*/

.righttool{
    width:250px;
    border:1px solid #fff;
}
.personal{
    width:252px;
    height: 81px;
    border-bottom:1px solid #d9d9d9;
    position: relative;
}
.personal img{ border-radius: 5px 5px 0 0;}

.toolbar{
    width: 24px;
    height: 110px;
    padding: 3px 0;
    text-align: center;
    line-height: 18px;
    position: absolute;
    top: 81px;
    left: -25px;;
    cursor: pointer;
    border-right: 1px solid #ccc;
    background: #fff;
    border-radius: 5px 0 0 5px;
    z-index: 99;
    filter:alpha(opacity=30); /*IE滤镜，透明度30%*/
    -moz-opacity:0.3; /*Firefox私有，透明度30%*/
    opacity:0.3;
    /*    display: none;*/
}
.toolbar:hover{
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
/*.personal:hover .toolbar{ display: inline-block}*/
.toolbar i{
    cursor: pointer;
    font-size: 18px;
}
.tool{
    height: 341px;
    width: 252px;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    display: none;
}
.tool1,.tool2{
    width: 125px;
    height: 341px;
    text-align: center;
    float: left;
}
.tool1{
    border-right: 1px dashed #ccc;
}
/*.tool .title{border-bottom: 1px #ccc solid;padding: 4px;}
.tool ul {height: 300px;}
.tool ul li{margin: 5px;padding: 3px;cursor: move}*/
.switch-on, .switch-off{margin-top: 4px;}
.tool .list{width:212px;height: 30px;padding: 5px 20px;line-height: 30px;}
.tool .list h1{width: 130px;float: left;font-size: 16px;}
.tool1 ul li{
    border: 1px solid #ccc;
}
.tool2 ul li{
    border: 1px dashed #ccc;
}

.personal .cover {
    position: relative;
    height: 75px;
    background-repeat: no-repeat;
    z-index: 1;
}
.personal .cover .headpic {
    width: 60px;
    height: 60px;
    padding: 3px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -30px;
}
.W_face_radius {
    border-radius: 50%;
}
.personal .WB_innerwrap {
    padding: 8px 27.5px;
}
.personal .nameBox {
    height: 16px;
    line-height: 16px;
    padding-top: 5px;
    text-align: center;
    *height: 18px;
    *padding-top: 3px;
    *line-height: 18px;
}
.personal .nameBox .name {
    max-width: 114px;
    _width: 114px;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    color:#333;
}
.user_atten {
    height: 34px;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.W_f18 {
    font-size: 18px;
}
.user_atten li {
    float: left;
    width: 65px;
    text-align: center;
    /*  border-right-width: 1px;
      border-right-style: solid;*/
}
.user_atten li a {
    display: block;

    color:#333;
}
.user_atten li strong {
    display: block;
    font-weight: bold;
    line-height: 18px;
    *line-height: 24px;
    width: 65px;
    overflow: hidden;
}
.user_atten li .S_txt2 {
    display: block;
    font-size: 12px;
    *margin-top: -6px;
    color:#808080;
}
.titlebar{
    padding:5px 20px;background-color: #f9f9f9;font-weight:600;
}
.addurl{ width: 230px; margin: 0 auto; line-height: 29px;}
.addurl ul{width:230px;}
.addurl li { overflow: hidden; zoom: 1;}
.addurl li a{color:#333;width:150px;overflow:hidden;display:block;}

.main{
    background-color:#f6f6f6; padding-top:10px;width:100%;overflow:hidden;
}

/*右侧切换*/
.urlrank{ width:252px;text-align:left;}
.urlrank .hd{ height:27px; line-height:27px; background:#f9f9f9;  border-bottom:1px solid #d9d9d9;  position:relative; }
.urlrank .hd ul{ float:left; position:absolute; font-weight:600; top:-1px; height:28px;   }
.urlrank .hd ul li{ float:left; padding:0 5px; cursor:pointer;margin-left:5px; width:67px; text-align: center }
.urlrank .hd ul li.on{ height:27px;  background:#fff; border:1px solid #ddd; border-bottom:1px solid #fff; }
.urlrank .bd{height: 307px;}
.mk .urlrank .hd{border-radius: 5px 5px 0 0;}
.mk .urlrank .bd{height: 392px;}
.mk .urlrank .bd .addurl{width: 230px;}
.mk .urlrank .bd .addurl ul{width: 230px;}
.mk .urlrank .bd a{width: 230px;height: 32px;display: block; color: #333;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.mk .urlrank.website_r .bd .website_u li{height:60px;}
.mk .urlrank.website_r .bd a{width: 190px;height: 30px;display: block; color: #333;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.mk .urlrank.website_r .bd .website_u li{height:49px;line-height: 20px;}
.mk .urlrank.website_r .bd .website_u a{width: 230px;font-weight: 700;height: 26px;line-height: 26px;}
.mk .urlrank.website_r .bd .website_u span{color:#999;height:20px;display: block;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.mk{
    width: 252px;
    height: 422px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.90);
}
.mk1{
    width: 252px;
    height: 422px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.90);
}
.mk:empty{
    background-color:transparent;
}
.mk>div{
    border-bottom: #ccc solid 1px;
}
.mk>div:last-child{
    border-bottom: none;
}
.mk .box{
    overflow: hidden;
}
.box{
    /*    cursor: move;*/
}
.box.sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}
.box.sortable-drag {
    background-color: rgba(255,255,255,0.90);
}

/*vip*/
.icon_member_dis{
    width: 36px;
    height: 14px;
    vertical-align: -2px;
    vertical-align: text-bottom;
    margin-left: 3px;
}
/*左边栏样式结结束*/


/*升级会员*/
.info_table {
    text-align:center;
    width:100%;
    margin-top:10px;
}
.info_table tr {
    height:50px;
    line-height:50px;
}
.info_table th {
    width:25%;
    background-color:#BAFBB1;
    font-weight:600;
    font-size:16px;
}
.info_table tr.table_color {
    background-color:#F0FDE0;
}
.info_table tr.table_color_1 {
    background-color:#F7FDE0;
}
.info_table tr td {
    border:hidden;
}
.upgrade{
    width:100%;
    margin:10px 0 27px 0;
}
.upgrade_content{
    width:432px;
    height:420px;
    border:none;
    padding:0px 45px;
    background-color:#F9F9F9;
}
.upgrade_content_header img{
    width:432px;
    height:71px;
}
.upgrade_body_header{
    margin-top:20px;
    text-align:center;
}
.upgrade_left{
    margin:51px 0 0 0;
}
.upgrade_left_input{
    border:none;
    width:332px;
    padding: 5px 10px;
}
.upgrade_left_btn{
    height:29px;
    text-align: center;
    line-height: 29px;
    width:80px;
    background-color:#d9d9d9;
    color:#fff;
    border:none;
}
.upinfo{
    color:#979797;
    margin-top:30px;
    font-weight:600;
}
.upinfo span{
    font-weight:600;
    color:#0099ee;
    font-size:24px;
}
.upgrade_code{
    width:129px;
    height:129px;
    margin:17px auto
}
.greenfont{
    color:#d9d9d9;
}
.upgrade_ts{
    margin-top:25px;
    line-height:26px;
}
/*更换皮肤*/

#huanfu_content {
    width:100%;
    height:256px;
    background-color:#FFF;
    display:none;
    z-index:1000;
    position:absolute;
}
.huanfu_body {
    width:100%;
    height:256px;
    background-color:#FFF;
    color:#666;
}
.huanfu_header {
    border-bottom:1px solid #F2F2F2;
    width:100%;
    line-height:47px;
}
.huanfu_tab_right div{
    margin-left:20px;
}
.huanfu_header_body {
    width:960px;
    margin:0 auto;
}
ul.huanfu_tab {
    padding:0;
    margin:0;
}
ul.huanfu_tab li {
    float:left;
    height:46px;
    line-height:46px;
    text-align:center;
    background-color:#fff;
    border:hidden;
    padding:0 10px;
    cursor:pointer;
}
ul.huanfu_tab li.fli, ul.huanfu_tab li:hover {
    background: #d9d9d9;
    color: #fff;
}
ul.huanfu_tab {
    overflow:hidden;
    zoom:1;
    list-style-type:none;
}
#tab_con {
    margin:0 auto;
    width:960px;
    height:185px;
}
#tab_con div.backcontent {
    width:304px;
    height:200px;
    display:none;
    border:none;
    background-color:#FFF;
}
#tab_con div.fdiv {
    display:block;
}
/* 本例子css */
.foucebox {
    width:960px;
    height:144px;
    background:#fff;
    margin:20px 0 0 0;
    padding:0;
}
.foucebox .bd {
    position:relative;
    float:right;
    width:254px;
    height:144px;
    overflow:hidden;
}
.foucebox .showDiv {
    position:relative;
    width:254px;
    height:144px;
}
.foucebox .showDiv div.showback{
    position: relative;
    height: 144px;
    background:url(../Img/back.png) no-repeat 0 0;
}
.foucebox .showDiv img {
    width:254px;
    height:144px;
}
.foucebox .hd {
    width:650px;
    height:144px;
    float:left;
}
.foucebox .hd ul{
    margin:0;
    padding:0;
}
.foucebox .hd ul li {
    width:120px;
    height:67px;
    float:left;
    margin:0 7px 7px 0px;
    display:inline;
    position:relative;
}

.foucebox .hd ul li div.mark{
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 116px;
    height: 63px;
    background:url(../Img/sure.png) no-repeat 0 0;
}
.foucebox .hd ul li div.statu{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 2px;
    width: 39px;
    height: 16px;
}
.foucebox .hd ul li div.statu.vip{background:url(../Img/hf_vip.png) no-repeat 0 0;}
.foucebox .hd ul li div.statu.svip{background:url(../Img/hf_svip.png) no-repeat 0 0;}
.foucebox .hd ul li div.showspan{
    position:absolute;
    color:#FFF;
    top: 0;
    left: 0;
    z-index: 2;
    height: 67px;
    line-height: 67px;
    display:none;
    text-align: center;
    width: 120px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba(0,0,0,0.5);
    opacity:10;
    filter: alpha(opacity=10);
}
.foucebox .hd ul li.on div.showspan{
    display:block;
}

.foucebox .hd ul a {
    display:block;
    width:120px;
    height:67px;
}
.foucebox .hd ul img {
    width:118px;
    height:65px;

}
.foucebox .hd ul a:hover {
    color:#fff;
}


/*返回顶部*/
.top1{
    width:50px;
    height:32px;
    line-height:32px;
    text-align:center;
    background-color:rgba(255,255,255,0.90);
    color:#333;
    position:fixed;
    right:15px;
    cursor:pointer;
    font-size:12px;
}
.top1:hover{
    background-color:#0099ee;
    color:#fff
}
.bottom_btn{
    bottom:165px;
}



/*常用网址分类*/
.left_fenlei{
    width:252px;
    min-height:422px;
    background-color:#fcfcfc;
    margin-bottom:5px;
    border-radius: 5px
}
.left_fenlei .title{
    font-size: 16px;
    height: 50px;

    line-height: 50px;
    padding: 0px 10px;
    font-weight: 600;
    border-bottom: 1px dashed #d9d9d9;
}
.left_fenlei .title_ul{
    font-size: 16px;
    font-weight: 600;
    padding:0px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.left_fenlei .title_ul a{
    color:#333;
    text-decoration: none;
}
.left_fenlei .title_ul a:hover{
    color:#d9d9d9;
}
.url_ul{
    padding: 0px 10px 20px 10px;
}
.url_ul li{
    width: 33%;
    float: left;
    height: 35px;
    line-height: 35px;

}
.url_ul li a{
    color:#333;
    text-decoration: none;
}
.url_ul li a:hover{
    color:#d9d9d9;
}

/*常用网址分类右侧*/
.right_fenlei{
    width: 810px;
    min-height: 100px;
    background-color: #fff;
    padding:0px 20px;
}
.right_fenlei .title{
    font-size: 16px;

    color:#555;
    padding-top: 10px;
    width: 810px;
    border-bottom: 1px dotted #e4e9f0;
}
.right_fenlei .title h2{
    font-weight: normal;
    padding: 0px 10px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #d9d9d9;
    margin: 0 0 -2px 0;

}

.add_alert{
    text-align: center;
    margin: 30px 0px;
}
.boxy-wrapper.fixed{
    width:400px;
}
.right_fenlei{
    margin-bottom: 5px;
    border-radius: 5px;
}
.right_fenlei ul li .url_list{
    border:none !important;
    margin: 0px !important;
}
.right_fenlei ul li .url_list img {
    margin: 0px 5px 15px 0px;
}

.right_fenlei ul li{
    width: 150px;
    margin-right: 12px;
    padding-top: 10px;
    font-size: 14px;
    border: none;



    float: left;
}
.website{
    margin-bottom: 20px;
}

/*.website ul li a.add_ok,#vertical .bar_02 ul li a.add_cancel{ line-height:22px;}
.website ul li.yet{ width:103px; height:26px; background:url(../Img/icon.png) 8px -758px no-repeat; border:1px solid #ddd; padding-left:25px;}
.website ul li.yet a{ color:#ccc;}
.website ul li.on{ width:105px; background:#d9d9d9; position:relative;}
.website ul li.on a{ color:#fff;}
.website ul li.on a.add_cancel{ color:#999;}
.website ul li.on b {
    width: 18px;
    height: 28px;
    background: url(../Img/icon.png) no-repeat 0 -787px;
    background-position: 0 -786px\9;
    display: inline-block;
    float: left;
    cursor: pointer;
}*/

/*分页的样式*/
div.meneame{padding:3px;font-size:80%;margin:3px;color:#ff6500;text-align:center;}
div.meneame a{padding:5px 7px;background-position:50% bottom;margin:0 3px 0 0;text-decoration:none;}
div.meneame a:hover{background-image:none;color:#fff;background-color:#006AB7;}
div.meneame a:active{background-image:none;color:red;background-color:#006AB7;}
div.meneame span.current{padding:5px 7px;font-weight:bold;color:#fff;margin:0 3px 0 0;background-color:#006AB7;}
div.meneame span.disabled{padding:5px 7px;color:#fff;margin:0 3px 0 0;}

.pages{
    text-align:center;
}
.pages div a{
    background-color: rgba(255,255,255,0.90);
}
.pages .next,.pages .prev,.pages .num{
    font-size: 10px;
}
.pages span.current {
    background-color:#0099ee;
    color: #fff;
    font-size: 10px;
    font-weight: 700;

}
.pages a, .pages li {
    display: inline-block;
    list-style: outside none none;
    text-decoration: none;
    color: #333;
}
.pages a, .pages span {
    display: inline-block;
    width: 45px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin: 0px 2px;
    border-radius: 1px;
}
.pages a:hover {
    background-color: #0099ee;
    color:#fff;
}
/*财经日历*/
.mk #msg_win{border:none;background-color:transparent;width:252px;}
.mk .box:first-child #msg_win{border-radius: 5px;}
.mk #msg_win .calendar-tip{width:246px;background-color: #d9d9d9;}
.mk #msg_win .calendar-tip img{display: none}
.mk #msg_content{width:252px;}
.mk #calendar_list{width:252px;margin-top: 0px;}
.mk #calendar_list .list-cont{ width:252px;}
.mk #calendar_list .list-cont ul li{ padding-left: 2px;width:250px;height: 26px;}
.mk #calendar_list .list-cont ul li.list-ul-frist {margin-bottom: 0;}
.mk #calendar_list .list-cont ul li span{ width:40px; line-height:26px;}
.mk #calendar_list .list-cont ul li.list-ul-frist label,.mk #calendar_list .list-cont ul li.list-ul-frist img{display: none}
.mk #calendar-ul{ width:252px;}
.mk #calendar_list .list-cont ul li a {margin:0 5px;}
.mk #calendar-ul li a:link{ width:200px; overflow:hidden;}
.mk #calendar-ul li .rss{display: none}
/*万年历*/
/*#cal{width:252px;border:none;font-size:12px;height: 314px;}
#cal #cal_top{height:34px;line-height:35px;background:#d9d9d9;color:#fff;padding-left:6px}
.mk .box:first-child #cal #cal_top{border-radius: 5px 5px 0 0;}
#cal #cal_top select{font-size:12px}
#cal #cal_top input{padding:0;}
#cal ul#wk{margin:0;padding:0;height:25px}
#cal ul#wk li{float:left;width:36px;text-align:center;line-height:25px;list-style:none}
#cal ul#wk li b{font-weight:normal;color:#c60b02}
#cal #cm{clear:left;border-top:1px solid #ddd;position:relative}
#cal #cm .cell{position:absolute;width:36px;height:41px;text-align:center;}
#cal #cm .cell .so{font:bold 16px arial;}
#cal #bm{text-align:right;height:24px;line-height:24px;padding:0 13px 0 0}
#cal #bm a{color:#7977ce}
#cal #fd{display:none;position:absolute;border:1px solid #dddddf;background:#feffcd;padding:10px;line-height:21px;width:150px;z-index: 110}
#cal #fd b{font-weight:normal;color:#c60a00}*/

#cal{width:798px;border:1px solid #c3d9ff;font-size:12px;margin:8px 0 0 0;}
#cal #tops{height:39px;line-height:39px;background:#e7eef8;color:#003784;padding-left:70px;}
#cal #tops select{font-size:12px;}
#cal #tops input{padding:0;}
#cal ul#wk{margin:0;padding:0;height:25px;}
#cal ul#wk li{float:left;width:114px;text-align:center;line-height:25px;list-style:none;}
#cal ul#wk li b{font-weight:normal;color:#c60b02;}
#cal #cm{clear:left;border-top:1px solid #ddd;border-bottom:1px dotted #ddd;position:relative;}
#cal #cm .cell{position:absolute;width:114px;height:46px;padding-top: 10px;text-align:center;margin:0;}
#cal #cm .cell .so{font:bold 16px arial;}
#cal #bm{text-align:right;height:34px;line-height:34px;padding:0 13px 0 0;}
#cal #bm a{color:#7977ce;}
#cal #fd{display:none;position:absolute;border:1px solid #dddddf;background:#feffcd;padding:10px;line-height:21px;width:150px;z-index: 100}
#cal #fd b{font-weight:normal;color:#c60a00;}
/*应用中心*/
.app{
    text-align: center;
}
.app .hd{
    line-height: 30px;
    height:30px;
    background-color: #f9f9f9;
    width: 246px;
    padding-left: 6px;
    text-align: left;
    font-weight: 700
}
.mk .box:first-child .app .hd{
    border-radius: 5px 5px 0 0;
}
.app ul{
    float: left;
}
.app ul li{
    float: left;
    width: 63px;
    height: 63px;
    overflow: hidden;
}
.app ul li a{

}
.app ul li img{
    width:28px;
    height:28px;
    margin:11px 16px 3px 16px;
}
.app ul li span{
    color:#999;

}
/*快递查询*/
.express{
    text-align: center;
}
.express .hd{
    line-height: 30px;
    height:30px;
    background-color: #d9d9d9;
    width: 246px;
    color: #fff;
    padding-left: 6px;
    text-align: left;
}
.mk .box:first-child .express .hd{
    border-radius: 5px 5px 0 0;
}
.express input,.express textarea{
    border: #ccc 1px solid;
    border-radius: 5px;
}
.express input{
    padding: 4px;
    line-height: 20px;
}
.express textarea{
    width: 225px;
    height: 113px;
    padding: 4px;
    resize: none;
}
.btn-small {
    font: normal 14px/18px 'Microsoft YaHei';
    background: #d9d9d9;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: #fff;
    padding: 3px 20px;
    margin: 10px auto 10px 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}


.help .title{
    width:210px;
    padding: 20px;
    overflow: hidden;
    border-radius: 5px;
    background:rgba(255,255,255,0.9);
    border:#ddd 1px solid;
}
.help .title.affix{
    top:20px;
    position: fixed;
}
.help .title.affix-bottom{

    position:absolute;
}
.help .nav>li{
    position: relative;
    display: block;
    margin-top: 5px;
}
.help .nav>li>a {
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 500;
    color:#000;
}
.help .nav>.active>a, .help .nav>.active:hover>a, .help .nav>.active:focus>a {
    color: #fff !important;
    background-color: #0099ee;
}
.help .nav>li>a:hover, .help .nav>li>a:focus {
    color: #fff !important;
    background-color: #0099ee;
}

.help .context{
    width: 800px;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    background:rgba(255,255,255,0.9);
    border:#ddd 1px solid;
}
.help .context.app{
    overflow:visible;
}
.help .context .section{
    margin-bottom: 20px;
}
.help .context .section h1{
    font-size: 16px;
}
.help .context .section div{
    text-indent: 2em;
}
.help .context .section img{
    max-width: 800px;
    display:block;
    margin: 5px auto;
}
@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}
@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}
@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}
.mk .urlrank.baidunew{height:314px;}
.mk .urlrank.baidunew .bd{height:283px;}
.mk .urlrank .bd .baidu a{
    height:28px;
    line-height: 28px;
    text-indent: 10px;
    background: url(http://ns2.bdstatic.com/static/fisp_static/focustop/img/top_bg_f32315c.png) no-repeat left -270px;
}
.baidu span,.mk .urlrank .bd .baidu .more,.baidu br{
    display:none;
}

.hyheader .lx {font-size:24px;text-decoration:none;color:#666;display: inline-block;margin-top: 21px;}

.website_t{
    /*    border: 1px #d9d9d9 solid;*/
    border-radius: 5px;
    margin-bottom: 10px;
}
.website_t.f-r{width: 848px;}
.website_t a{ color: #000; text-decoration: none}
.website_head{
    background-color: rgba(255,255,255,0.60);
    border-radius: 5px 5px 0 0;
    height:30px;
    line-height: 30px;
    padding: 5px 20px;
    border: 1px solid #d9d9d9;
}

.website_head b{
    font-size:16px;
    margin-right: 20px;
}
.website_head span{margin: 0 10px;}
.website_head span.list{font-weight: 600}
.website_head a{text-decoration: none}
.website_head .fb{
    background-color: rgba(0,0,0,0.10);
    padding:0 10px;
    border-radius: 5px;
    font-weight: 600
}
.website_body{
    background-color: rgba(255,255,255,0.90);
    min-height: 280px;
    border-radius:0 0 5px 5px;
    padding: 0 18px;
    border: 1px solid #d9d9d9;
    border-top: none;
}
.website_body.detail{
    min-height: 808px;
}
.website_body.detail h1{
    padding-top: 20px;
    font-size: 20px;
}
.website_body.detail ul{
    color: #999;
    margin: 10px 0;
    overflow: hidden
}
.website_body.detail ul li{
    float: left;
    margin-right: 20px;
}
.website_body.detail .website_content{

}
.website_body .website_list{
    padding: 15px 0;
    border-bottom: 1px #d9d9d9 dashed;
    overflow: hidden;
}
.website_body .website_list:last-child{border-bottom: none}
.website_content{
    width: 810px;
}
.website_t.f-r .website_content{width:550px;}
.website_t.f-r .website_content.article{width:810px;}
.website_content h1{
    height:30px;
    line-height: 30px;
    overflow: hidden
}
.website_content span,.website_content>a{
    height:30px;
    line-height: 30px;
    overflow: hidden;
    color: #999;
    display: block;
}
.website_content div{
    height: 48px;
    line-height: 24px;
    overflow: hidden
}
.website_user{
    width:200px;
    background-color: rgba(0,0,0,0.10);
    border-radius: 5px;
    padding: 6px 20px;
}
.website_user li{
    height: 24px;
    line-height: 24px;
    display: block;
    overflow: hidden
}
.website_fb input{
    width:300px;
    padding: 4px;
}
.website_fb select{
    width: 312px;
    padding: 4px;
}
.website_fb textarea{
    width:300px;
    padding: 4px;
    height: 80px;
}
.website_fb span{
    vertical-align: top;
}
.detail td{
    min-width: 100px;
}
.detail td.title{ text-align: right}
.detail .g_text{
    width: 400px;
}
/*账号绑定*/
.bind{
    width: 200px;
    float: left;
    margin-top: 20px;
}
.acc-left, .acc-center, .acc-right {
    float: left;
}
.acc-left {
    width: 62px;
    text-align: center;
}
.avatar-ctn {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.avatar-ctn img{
    width: 50px;
    height: 50px;
}
.acc-right-cw {
    float: left;
    width: 120px;
    margin-top: 5px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
.acc-right .name {
    color: #333;
    display: block;
    position: relative;
}
.acc-bind-link, .acc-unbind-link {
    display: inline-block;

}
/*邮箱认证*/
.mod-bind .binditem{padding-top: 20px}
.mod-bind .bind-icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 11px;
}
.mod-bind .binditem .bind-content {
    float: left;
    padding-left: 20px;
}

.mod-bind .binditem .bind-content .bind-tips {
    font-size: 12px;
    padding-top: 3px;
    color: #666;
}
.mod-bind .binditem .bind-content .bind-title {
    font-size: 14px;
}
.mod-bind .binditem .bind-content .bind-title-detail-msg {
    font-size: 18px;
    color: #0099ee;
    font-weight: 700;
    font-family: 宋体, Arial, Helvetica, STHeiti;
}
.mod-bind .binditem .bind-content .bind-title .bind-link {
    margin-left: 10px;
    font-size: 12px;
}
.email-check{
    width:380px;
    margin: 0 auto;
    padding-top: 20px;
}

.recode_head{
    padding-top: 30px;
}
.recode_body{
    margin: 30px 0;
}
.recode_input{
    width: 332px;
    padding: 5px 10px;

}
.btn-recode{
    margin: 0;
    border-radius: 0;
    font: normal 14px/23px 'Microsoft YaHei';
}
.recode_body hr{
    color: #d9d9d9;
    margin-top: 30px;
}
.recode_foot{
    padding-bottom: 30px;
}
/*积分中心*/
.point table{
    width:100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.point table tr th,.point table tr td{
    line-height:20px;
    padding: 10px;
}
.point table td{
    border-top:1px #d9d9d9 dotted;
    text-align: center;
}
.point table td.red{color:red}
.point table td.green{color:green}
.point table thead{
    background: #d9d9d9;
}
.point table tbody{
    background: rgba(255,255,255,0.80);
}

/*签到*/
.sign{
    padding: 20px 20px 10px 20px;
    background: #fff;
    border-radius: 5px;
    margin: 20px auto;
}
.sign_l{
    width: 800px;
}
.sign_r{
    width: 250px;
    text-align: center;
}
.sign_r .p1{
    font-size: 22px;
    margin-top: 20px;
}
.sign_r .p1 span{
    padding: 0 5px;
    font-size: 32px;
    color:#0099ee;
}
.sign_r .p2{
    font-size: 18px;
    margin: 20px 0 30px 0;
}
.sign_r .p2 span{
    padding: 0 5px;
    font-size: 24px;
    color:#0099ee;
}
.sign_r .p3{
    color:#999;
    margin-top: 30px;
}
/*登录弹出*/
.login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 999999999;
    display: none;
}
#loginalert {
    width: 310px;
    background: #fff;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -220px;
    z-index: 99;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 20px 50px 30px;
}
#bcdl, .closealert, .eye-icon, .loginsubmit input,#reg_btn {
    cursor: pointer;
}
.closealert {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../Img/cancel.png) -2px 3px no-repeat;
}
.loginwrap {
    width: 100%;
}
.loginh {
    text-align: center;
}
.loginwrap h3 {
    text-align: center;
    font-size: 20px;
    color: #1F1F1F;
    font-weight: 400;
    line-height: 20px;
}
.loginwrap p {
    font-size: 15px;
    color: #999;
    padding-top: 30px;
    position: relative;
}
.loginwrap .social-icon-pc {
    padding-top: 20px;
}
.loginwrap .social-icon-pc a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 12px;
}
.loginwrap .social-icon-pc a:hover {text-decoration: none}
.loginwrap .social-icon-pc a i {
    font-size: 50px;
    line-height: 40px;
    background-color: #fff;
}
.loginwrap .social-icon-pc .qq-icon i{
    color: #12B7F5;
}
.loginwrap .social-icon-pc .weibo-icon i{
    color: #D7172E;
}

.loginwrap .login-title:after, .loginwrap .login-title:before {
    content: '';
    display: block;
    height: 1px;
    width: 33%;
    position: absolute;
    top: 43px;
    background-color: #ebebeb;
}
#login_form h4.phone-email-login:after, #login_form h4.phone-email-login:before {
    content: '';
    display: block;
    height: 1px;
    width: 38%;
    position: absolute;
    top: 30px;
    background-color: #ebebeb;
}
.loginwrap .login-title:before {
    left: 0;
}
#login_form h4.phone-email-login:after, .loginwrap .login-title:after {
    right: 0;
}
#login_form h4.phone-email-login:before {
    left: 0;
}
#login_form h4.phone-email-login {
    text-align: center;
    font-size: 15px;
    color: #999;
    font-weight: 400;
    padding: 20px 0 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
}
.logininput {
    position: relative;
}

.logininput input {
    border-radius: 4px;
    height: 22px;
    line-height: 22px;
    padding: 9px 2%;
    width: 96%;
    border: 1px solid #DAE2E5;
    color: #979696;
}
#uname {
    margin-bottom: 24px;
}
.logininput .login_error_tip {
    top: 29px;
}
.wrong1 {
    clear: both;
    color: #FD7D00;
    margin-top: 15px;
}
.global-hide {
    display: none;
}
.global-show {
    display: block;
}
.logininput .wrong1 {
    color: #C43737;
}
.logininput .all-load, .logininput .login_error_tip {
    position: absolute;
    left: 0;
}
.eye-icon {
    width: 24px;
    height: 16px;
    background: url(../Img/eye.png) no-repeat;
    position: absolute;
    top: 80px;
    right: 10px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.password-style {
    line-height: 38px;
    height: 38px;
}
.password-style a {
    color: #09559E;
}
.loginsubmit {
    width: 100%;
}
#loginalert .forbid-blue {
    opacity: .3;
    background-color: #0978E7;
}
.forbid-blue {
    opacity: .3;
    background-color: #0978E7;
}
.loginsubmit input, .loginsubmit input:active, .loginsubmit input:hover {
    background: #0978E7;
}
.loginsubmit input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    display: block;
    text-align: center;
    font: '微软雅黑';
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
}
.logininput input:focus {
    border-color: #0978E7;
}
.loginsubmit input, .loginsubmit input:active, .loginsubmit input:hover {
    background: #0978E7;
}

#link-phone {
    width: 100%;
}
.reg-btn {
    width: 200px;
    height: 40px;
    background: #ff7e00;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ff853a;
}
.registered-input-detail {
    width: 880px;
    height: auto;
    position: relative;
    color: #7c9290;
    margin: 20px auto;
}
#link-phone .registered-input-detail {
    margin: 0;
}
#link-phone .registered-input-detail:first-child {
    padding-top: 24px;
    width: 59%;
}
#link-phone .registered-input-detail:first-child #mobile {
    width: 96%;
    padding: 10px 2%;
    background-image: none;
    border: 1px solid #dfe3e2;
    border-radius: 4px;
}
#link-phone .registered-input-detail:nth-child(2) {
    width: 35%;
}
#link-phone .registered-input-detail:nth-child(4) {
    width: 100%;
}
#link-phone .registered-input-detail:nth-child(5) {
    border: none;
    padding-top: 24px;
    width: 100%;
}
#link-phone .registered-input-detail:nth-child(5) .reg-btn {
    margin: 0;
    font-weight: 400;
    border: none;
}
#link-phone .registered-input-detail:nth-child(5) #reg_btn {
    width: 100%;
    padding: 10px 0;
    background-color: #0978E7;
}
#link-phone .registered-input-detail:nth-child(2), #link-phone .registered-input-detail:nth-child(4) {
    padding-top: 24px;
}
#link-phone .registered-input-detail:nth-child(2) .send-sms-button, #link-phone .registered-input-detail:nth-child(4) .send-sms-button {
    height: 40px;
}
#link-phone .registered-input-detail:nth-child(2) #btn_send_sms, #link-phone .registered-input-detail:nth-child(2) #btn_send_sms_app, #link-phone .registered-input-detail:nth-child(2) #sms_code, #link-phone .registered-input-detail:nth-child(4) #btn_send_sms, #link-phone .registered-input-detail:nth-child(4) #btn_send_sms_app, #link-phone .registered-input-detail:nth-child(4) #sms_code {
    width: 100%;
    padding: 10px 0;
    background-image: none;
}
#link-phone .registered-input-detail:nth-child(2) #btn_send_sms, #link-phone .registered-input-detail:nth-child(2) #btn_send_sms_app, #link-phone .registered-input-detail:nth-child(4) #btn_send_sms, #link-phone .registered-input-detail:nth-child(4) #btn_send_sms_app {
    min-width: 30px;
    background-color: #0978E7;
    color: #fff;
}
#btn_send_sms[disabled],#btn_send_sms.disabled{
    opacity: .3;
}
#link-phone .registered-input-detail:nth-child(2) #sms_code, #link-phone .registered-input-detail:nth-child(4) #sms_code {
    width: 96%;
    padding: 10px 2%;
    border: 1px solid #dfe3e2;
    border-radius: 4px;
}
#phone-error {
    position: absolute;
    left: 0;
    top: 68px;
    color: #C43737;
    display: none;
}
#sms_code_error {
    position: absolute;
    left: 0;
    top: 68px;
    display: none;
    color: #C43737;
}
.next-btn, .send-sms-button {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 38px;
    border-radius: 3px;
    min-width: 180px;
    border: none;
    text-align: center;
    padding: 0 15px;
    color: #fff;
}
.verify {
    background: #EBEBEB;
}

.clearfix {
    display: block;
}


.mall li {
    width: 206px;

    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.mall li:nth-child(4n) {
    margin-right: 0;
}
.mall li img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.mall li .title{
    padding: 5px 10px 10px 10px;
}
.mall li .title h1{
    height: 25px;
    font-size: 16px;
    overflow: hidden;
}
.mall li .title a{
    color:#000;
    text-decoration: none;
}
.mall li .sub{
    text-align: center;
    padding: 0 10px 10px 10px;
}
.mall li .sub a{
    color:#0099ee;
    display: block;
    padding: 5px 10px;
    border: 1px solid #0099ee;
    border-radius: 5px;
    text-decoration: none;
}
.mall li .sub a.disabled{
    color: #d9d9d9;
    border-color: #d9d9d9;
}
.mall_body{
    border: 1px solid #d9d9d9;
    background: #fff;
    border-radius: 5px;
    min-height: 300px;
    padding: 20px;
}
.mall_body .title{
    width: 380px;
    float: right;
    line-height: 30px;
}
.mall_body .title h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.mall_body .title .sub{
    margin-top: 20px;
}
.mall_body .title a{
    color:#fff;
    padding: 5px 15px;
    background: #0099ee;
    border-radius: 5px;
    text-decoration: none;
}
.mall_body .title a.disabled{
    background: #d9d9d9;
}
.mall_body .des{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 20px;
}