
/*主体部分分块*/
.content li {
    width: 150px;
    border-left: 1px #d9d9d9 dashed;
    float: left;
    background-color:#fff;
    position: relative;
    margin-bottom:5px;
}
.content li:nth-child(6n+1) {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-left: 1px solid transparent;
}
.content li:nth-child(6n),.content li:last-child {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.add_page {
    width: 34px;
    height: 34px;
    background: url(../Img/icon.png) 0 -1120px no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 99;
    display: none;
}
.content-h .add_page{
    background: url(../Img/icon.png) -27px -1052px no-repeat;
    top:10px;
    right: 20px;
}
.content li:nth-child(6n) .add_page,.content li:last-child .add_page{
    border-top-right-radius:5px;
}

.con_category:hover .add_page{display:inline-block}
.content li h1{padding:5px 10px; margin-top:5px;border-bottom:1px dashed #d9d9d9;line-height: 30px;}
.content li h1,.content-h li h1{ position:relative;}
.content.userlist li h1,.content-h.userlist li h1 {cursor: move}
.content li h1 b{ font-weight:normal;}
.content li h1 span,.content-h li h1 span{display: none}
.content li h1:hover span,.content-h li h1:hover span{display: inline-block}
.content-h{
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.content-h li {
    background-color:#fcfcfc;
    padding: 0 20px;
    position: relative;
    clear: both;
}
.content-h li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.content-h li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content-h li h1{padding:5px 10px 4px 0;border-bottom:1px dashed #d9d9d9;line-height: 30px;}
.content-h li h1 b{border-bottom: 2px solid #d9d9d9;padding:0 10px 9px 10px;font-weight:normal;}
.content-h li:nth-child(3n+4) {padding-top: 7px;}
h1 .my_edit {
    height: 25px;
    background-position: 0 -935px;
    margin-left: 5px;
    float: none;
}
h1 .my_del {
    height: 25px;
    background-position: -25px -738px;
    float: none;
}
.my_drag {
    width: 16px;
    height: 14px;
    background: url(../Img/icon.png) -58px -967px no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.content .pbox {
    width: 169px;
    float: left;
}

.content .url_list {
    height: 19px;
    /*    border-bottom: 1px dotted #ccc;*/
    padding: 9px 0;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
}
.content-h .pbox {
    width: 810px;
    min-height: 50px;
}
.content-h .url_list,.content-h .blank_ws {
    height: 16px;
    width:150px;
    margin:6px 12px 10px 0;
    float: left;
    padding: 9px 0;
    position: relative;
    overflow: hidden;
}
.content-h .blank_ws {opacity: 0;}
.content-h .blank_ws:hover {opacity: 1;}
.content-h .blank_ws em{
    float: left;
}
.userlist .url_list{
    cursor: move;
}
.url_list span{
    display: none;
}
.url_list:hover span{
    display: inline-block;
}
.sortable-ghost {
    opacity: .7;
}
.url_list.sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}

.urllist .sortable-drag {
    background-color: rgba(255,255,255,0.90);
}
.url_list img {
    margin: 0px 10px 15px 5px;
}
.url_list a {
    width: 85px;
    height: 16px;
    line-height: 16px;
    color: #333;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    /*    letter-spacing:1px;*/
}
.content .urllist{
    min-height: 35px
}
.content-h .urllist:empty{width:20px; height: 50px;float: left;}
.my_edit, .my_del {
    width: 12px;
    height: 17px;
    background: url(../Img/icon.png) no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.my_edit{ background-position:0 -937px;}
.my_del{ background-position:-25px -740px;}
.edit_box, .plus_box {
    width: 138px;
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 5px;
    z-index: 10;
    margin: 0 auto;
}
.content-h .edit_box,.content-h .plus_box {margin:0px 12px 0 0;float: left;padding:0px 5px;line-height: 16px;}
.psm_txt, .purl_txt {
    color: #000;
}
.sm_txt, .url_txt, .psm_txt, .purl_txt {
    width: 80px;
    height: 18px;
    font: normal 12px/18px Arial;
    color: #333;
    border: 1px solid #efefef;
    padding: 2px;
}
.purl_txt{
    width: 130px;
}
.edit_notok, .edit_ok, .edit_del {
    width: 18px;
    height: 18px;
    background: url(../Img/icon.png) no-repeat;
    margin-left: 5px;
    vertical-align: text-bottom;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.edit_ok {
    background-position: 4px -764px;
}
.edit_del {
    background-position: 4px -912px;
}


.title-bar {
    background-color: #FCFCFC;
    border-bottom: 1px solid #f6f6f6;
    height: 25px;
    padding: 5px;
    position: relative;
}
#orderlist h2,#url_orderlist h2 {
    text-align: left;
}
.title-bar h2 {
    font: bold 14px/25px Arial;
    color: #333;
    margin: 0;
    padding: 0;
}
.title-bar .close {
    width: 14px;
    height: 20px;
    background: url(../Img/close_pop.png) 0 6px no-repeat;
    position: absolute;
    top: 5px;
    right: 6px;
    display: inline-block;
}

.h1_txt{
    width: 60px;
    height: 22px;
    font: normal 14px/20px Arial;
    border: none;
    color: #333;

    padding: 2px;
}
.h1_txt.tog{
    position: absolute;
    border: 1px solid #d9d9d9;
    top: 12px;
    left: 10px;
    z-index: 2;
}

.content-h .h1_txt.tog{
    position: absolute;
    top: 7px;
    left: 20px;
    z-index: 2;
}


/*头部欢迎*/
.nav_header{
    background: #f6f6f6;
    font-size: 14px;
    line-height: 30px;
}

/*搜索框*/
.searchbox{
  
    height:70px;
    padding: 0px 0px 0px 0px;
    margin:0px auto;
    margin-bottom: 20px;
}
.searchbox .search_logo{
    margin-top: 40px;
}
.searchmain{
    width:720px;
    margin-left:25px;
    height:100%;
}

.searchbox .tab{
    margin-bottom: 8px;
}
.searchbox .tab ul li:hover{
    background-color: #fff;
}
.active{
    background-color: #fff;
}
.active a{
    font-weight: 600;
    color:#333  !important;
}
.serinput input{
    width:700px;
    height:40px;
    padding:5px 10px;
    border:none;
}
.serinput input.search_kw{
    border-radius: 5px 0 0 5px;
}
.serinput input.search_submit{
    border-radius:0 5px 5px 0;
    height:50px;width:100px;
    background-color:#0099ee;
    color:#fff;
    font-size: 18px;
    cursor: pointer;
}
.serinput input.search_open{
    border-radius:5px;
    height:50px;width:80px;
    background-color: #8aa53a;
    color:#fff;
    font-size: 18px;
    cursor: pointer;
}
